<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Book Shop Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .hidespan {
            display: none;
        }
        
        .usercode:hover > span {
            display: inline;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Book Shop", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @{
                    if (Session["UserName"] == null)
                    {
                        {
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Login", "Login", "User")</li>
                                <li>@Html.ActionLink("Register", "Register", "User")</li>
                                <li>@Html.ActionLink("Index", "Index", "User")</li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Index", "Index", "Book")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                            <li>@Html.ActionLink("My Books", "BorrowedBooks", "User")</li>
                            <li>
                                <label class="usercode" style="margin:15px 0 0 500px; color:wheat;">
                                    Hi @Session["UserName"].ToString() !
                                    <span class="hidespan">Your code is <label class="text-danger">@Session["Code"].ToString()</label> </span>
                                </label>
                            </li>
                        </ul>
                    }
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div style="margin-top:15%;">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Book Shop</p>
            </footer>
        </div>

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
